<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<style>

.jumbotron{padding:100px 50px;margin-bottom:30px;color:inherit;background:url('http://media.gettyimages.com/vectors/panoramic-background-with-school-building-and-school-bus-in-flat-vector-id485246172?s=170667a&w=1007')}

.glyphicon {
    font-size: 50px;
}


footer{ background-color:#2a8fcf; text-align: center;; color:#fff; } 


</style>
<div class="container">
  <div class="jumbotron">
    <h1 style="text-align:center; color:#2a8fcf;">KIDS SCHOOL</h1> 
   
  </div>




</div><br>


<div>
<footer class="container-fluid bg-4 text-center">
  <h1>contact us</h1> 


<div class="col-sm-4">
<center>

<i class="glyphicon glyphicon-home"></i>
<h3>Postal Address</h3>
<h5> Little School, #207, 1st Stage,4th BLock Baddrapp Layout</h5>
<h5> Hebbal Main Road,Near Indian Acadamy</h5>
<h5> Bangalore, Karnataka – 560043</h5> 

</center>
</div>

<div class="col-sm-4">
<center>

<i class="glyphicon glyphicon-phone-alt"></i>
<h3>Phone&Email</h3>

<h5> Tel : +91 – 9000000008 </h5>
<h5> 080 – 68888 098</h5>
<h5>Email : littleschool@gmail.com</h5> 
</center>
</div>

<div class="col-sm-4">
<center>

<i class="glyphicon glyphicon-time"></i>
<h3>School Timings</h3>

<h5> Monday-Saturday </h5>
<h5> 09:00 AM to 6:30 PM</h5>
<h5>Sunday Closed</h5> 
</center>
</div>

</footer>


</div>
</body>
</html>

