<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
    margin: 20px;
    border: 5px solid #ccc;
    float: left;
    width: 200px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="http://www.metropluslifestyle.com/images/kids-school-furniture.jpg">
    <img src="http://www.metropluslifestyle.com/images/kids-school-furniture.jpg" alt="Trolltunga Norway" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.whatsuplife.in/gurgaon/timthumb.php?src=awn-admin/uploaded_file/0_1438864591-34.jpg&w=916&h=457&zc=1&f=0|0|0|0|0">
    <img src="https://www.whatsuplife.in/gurgaon/timthumb.php?src=awn-admin/uploaded_file/0_1438864591-34.jpg&w=916&h=457&zc=1&f=0|0|0|0|0" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="http://static.dnaindia.com/sites/default/files/styles/half/public/2017/06/08/582621-school-060317.jpg?itok=K8-wx13v" alt="Northern Lights">
    <img src="http://static.dnaindia.com/sites/default/files/styles/half/public/2017/06/08/582621-school-060317.jpg?itok=K8-wx13v" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJl0KwdHfoZjd2gzzerZDPLgWeT-8KSKD_CGj3HGEi967PXG0g">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJl0KwdHfoZjd2gzzerZDPLgWeT-8KSKD_CGj3HGEi967PXG0g" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

</body>
</html>

