<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">

  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
</head>
<style>







body{        
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .fixed-header {
        width: 100%;
        position: fixed;        
        background-color:#2a8fcf;
        padding: 20px 0;
        color: #fff;
	
    }
    .fixed-header{
        top: 0;
    }


 nav a{ 
        color: black;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
	color:#fff;
    }


footer{ background-color:#2a8fcf;; text-align: center;; color:#fff; } 

.glyphicon {
    font-size: 35px;
}
</style>

<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
<body>
    <div class="fixed-header">
	<div class="container" style="text-align:center;">
	<h1>KIDS SCHOOL</h1>

</div>
        <div class="container">
            <nav>
                <a href="#"><br><h2>Home</h2></a>
                      
                <a href="/gallery/"><br><h2>Gallery</h2></a>
                <a href="/contact/"><br><h2>Contact</h2></a>
		
		<a href="/student/"><br><h2>Student</h2></a>
		<a href="/parents/"><br><h2>Parents</h2></a>
		<a href="/teacher/"><br><h2>Teacher</h2></a>
		<a href="/attendance/"><br><h2>Attendance</h2></a>
		
		
            </nav>
       
   </div>
</div>
  <br><br><br><br><br><br><br><br><br>
<div class="col-sm-12">
	<div class="col-sm-2"><button class="btn btn-info" id="add_student">Add</button><button class="btn btn-info" style="margin-left:5px;" id="view_student">View</button></div>
</div>
<div class="container" id="student_add_div" style="display:none;">
  <h2>Student Registration Form</h2>
  <form class="form-horizontal" action="/student/" method="post" id="student_form">{% csrf_token %}
    {{ form }}
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Enter Student Name" name="name" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="standard">Standard:</label>
      <div class="col-sm-10">          
        <input type="number" class="form-control" id="standard" placeholder="Enter Standard" name="standard" required>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="">Section:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="section" placeholder="Enter Section" name="section" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="age">Age:</label>
      <div class="col-sm-10">          
        <input type="number" class="form-control" id="age" placeholder="Enter Age" name="age" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="rollnumber">Roll Number:</label>
      <div class="col-sm-10">          
        <input type="number" class="form-control" id="dob" placeholder="Enter Standard" name="rollnumber" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="standard">Date Of Birth:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="standard" placeholder="Enter Date Of Birth" name="dob" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="">House Number:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="house_number" placeholder="Enter House Number" name="house_number">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="">Street:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="street" placeholder="Enter Street" name="street">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="">Area:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="area" placeholder="Enter Area Name" name="area">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="section">City:</label>
      <div class="col-sm-10">          
        <input type="email" class="form-control" id="city" placeholder="Enter City Name" name="city">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="section">State:</label>
      <div class="col-sm-10">          
        <input type="email" class="form-control" id="state" placeholder="Enter State Name" name="state">
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="">Country:</label>
      <div class="col-sm-10">          
        <input type="email" class="form-control" id="country" placeholder="Enter Country Name" name="country">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="">Pincode:</label>
      <div class="col-sm-10">          
        <input type="email" class="form-control" id="pincode" placeholder="Enter PinCode Name" name="pincode">
      </div>
    </div>



    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default" onclick="submitForm()">Submit</button>
      </div>
    </div>
  </form>
</div>
<div class="container" id="student_view_div">
  <h2>Student List</h2>
              <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <th style="width: 10px">Student Id</th>
                  <th>name</th>
                  <th>standard</th>
		  <th>section</th>			
		  <th>age</th>
		  <th>rollnumber</th>
		  <th>dob</th>
                  <th>House NUmber</th>
		  <th>Street</th>
		  <th>Area</th>
		  <th>City</th>
		  <th>State</th>
		  <th>Country</th>
		  <th>Pincode</th>	
                </thead>
		<tbody>
		{% for stud in students %}
                <tr>
                 
                 <td>{{ stud.id }}</td>
                  <td>{{ stud.name }}</td>
                  <td>{{ stud.standard }}</td>
		  <td>{{ stud.section }}</td>
		  <td>{{ stud.age }}</td>
		  <td>{{ stud.rollnumber }}</td>
		  <td>{{ stud.dateofbirth }}</td>
                  <td>{{ stud.address.house_number }}</td>
		  <td>{{ stud.address.street }}</td>
		  <td>{{ stud.address.area }}</td>
		  <td>{{ stud.address.city }}</td>
		  <td>{{ stud.address.state }}</td>
		  <td>{{ stud.address.country }}</td>
		  <td>{{ stud.address.pincode }}</td>
                </tr>
		{% endfor %}
		</tbody>
              </table>
</div>
<br><br><br><br>

<div>
<footer class="container-fluid bg-4 text-center">
  <h1>contact us</h1> 


<div class="col-sm-4">
<center>

<i class="glyphicon glyphicon-home" styel="font-size: 50px;"></i>
<h3>Postal Address</h3>
<h5> Little School, #207, 1st Stage,4th BLock Baddrapp Layout</h5>
<h5> Hebbal Main Road,Near Indian Acadamy</h5>
<h5> Bangalore, Karnataka – 560043</h5> 

</center>
</div>

<div class="col-sm-4">
<center>

<i class="glyphicon glyphicon-phone-alt" styel="font-size: 50px;"></i>
<h3>Phone&Email</h3>

<h5> Tel : +91 – 9000000008 </h5>
<h5> 080 – 68888 098</h5>
<h5>Email : littleschool@gmail.com</h5> 
</center>
</div>

<div class="col-sm-4">
<center>

<i class="glyphicon glyphicon-time" styel="font-size: 50px;"></i>
<h3>School Timings</h3>

<h5> Monday-Saturday </h5>
<h5> 09:00 AM to 6:30 PM</h5>
<h5>Sunday Closed</h5> 
</center>
</div>

</footer>


</div>


<script>
$(document).ready(function(){
    $("#add_student").click(function(){
        
        $('#student_add_div').show();
        $('#student_view_div').hide();
    });
    $("#view_student").click(function(){
        $('#student_view_div').show();
        $('#student_add_div').hide();
    });
});
function submitForm()
{

    document.getElementById("student_form").submit(); 
}


$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
</body>
</html>


